<!-- navigation.handlebars -->

<nav class="navbar">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#unless loggedIn}}        
        <a href="/login">Login</a>
        <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    {{else}}
        <a href="/signup">Sign Up</a>
    {{/unless}}
</nav>
<h1>The Tech Blog</h1>
