/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
} */


/* Reset some default browser styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Container for centering content */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #A5D6A7;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Custom Navbar styles */
.navbar {
    background-color: #5D4037;  /* dark brown */
    color: #A5D6A7;  /* light green */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #A5D6A7;  /* light green */
    margin-right: 15px;
    text-decoration: none;
}

.navbar form {
    display: inline;
}

/* Custom h1 styles */
h1 {
    font-size: 36px;
    color: #5D4037;  /* dark brown */
    background-color: #A5D6A7;  /* light green */
    padding: 10px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Navigation styles */
nav ul {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Main content area */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Form styles */
form label,
form input,
form button {
    display: block;
    margin-bottom: 20px;
}

form button {
    background-color: #A5D6A7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

/* List of posts */
ul.posts {
    list-style-type: none;
}

ul.posts li {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
}


/* Add more styles as needed */
.hidden {
    display: none;
  }
  

  /* Update button colors to match */
button {
    background-color: #5D4037;  /* dark brown background to match */
    color: #A5D6A7;  /* light green text to match */
}

/* Update button hover colors to match */
button:hover {
    background-color: #A5D6A7;  /* light green background to match */
    color: #5D4037;  /* dark brown text to match */
}